@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: black;
    color:white;

}
.background-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-container img {
    max-width: 1000px;
    height:auto;
    object-fit: contain;
}
.heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.heading{
    font-size: 2rem;
    padding: 1rem;
}
.sentence{
    font-size: 1.2rem;
    font-style: oblique;
}
.options-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options-header{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.options{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    padding: 3em;
}
.options div{
    margin-right: 3rem;

}
.options img{
    max-width: 25vw;
    max-height: 10vw;
    min-width: 18vw;
    min-height: 6vw;
    border:0.2rem solid black;
    border-radius: 25%;
    transition: all .07s ease;
}
.options img:hover{
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
  cursor: pointer;
}
.results-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

.result-text{
    text-align: center;
    margin-bottom: 3rem;
}
.score-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}
.player-score,
.computer-score{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}